* {
    box-sizing: border-box;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border-radius: 4px;
  }
  
 body {
 } 

#calc {

    display: flex;
    width: 400px;
    flex-flow: row wrap;
    background-color: black;
}

#result {
    height: 125px;
    width: 400px;
    background-color: rgb(39, 48, 47);
    color: white;
    text-align: right;
    font-size: 200%;
}

.but {
    background-color: rgb(59, 68, 67);
    height: 100px;
    width: 100px;
    color: white;
}

.but:active {
    background-color:rgb(74, 85, 84);
 }

.numbers{
    background-color: rgb(90, 99, 97);
}


.numbers:active{
    background-color: rgb(106, 116, 113);
}

.orange {
    background-color: rgb(252, 161, 8);    
}

.orange:active {
    background-color: rgb(248, 213, 55);    
}

#zero {
    flex-basis: 300px;
}

 