* {
    box-sizing: border-box;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }

#calc {
    display: flex;
    width: 400px;
    flex-flow: row wrap;
    background-color: black;
    align-items: center;
    justify-items: center;
    }

#result {
    height: 100px;
    width: 400px;
}

.but {
    background-color: rgb(59, 68, 67);
    height: 100px;
    width: 100px;
    color: white;
}

.numbers{
background-color: rgb(37, 48, 47);
}

.orange {
    background-color: rgb(252, 161, 8);    
}

#zero {
    flex-basis: 300px;
}



39, 48, 47

59, 68, 67

90, 99, 97 

252, 161, 8 orange