* {
    box-sizing: border-box;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border-radius: 4px;
  }
  
 body {
margin: auto;
 } 

#calc {

    display: flex;
    width: 400px;
    flex-flow: row wrap;
    background-color: black;
}

#result {
    height: 100px;
    width: 400px;
    background-color: rgb(39, 48, 47);
    color: white;
    text-align: right;
}

.but {
    background-color: rgb(59, 68, 67);
    height: 100px;
    width: 100px;
    color: white;
}

.numbers{
    background-color: rgb(90, 99, 97);
}

.orange {
    background-color: rgb(252, 161, 8);    
}

#zero {
    flex-basis: 300px;
}

 